.THIS table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
.THIS td{
    border: 1px solid #DDDDDD;
    text-align: left;
    padding: 8px;
  }
.THIS th {
    border: 1px solid #DDDDDD;
    text-align: left;
    padding: 8px;
  }
.THIS  tr:nth-child(even) {
    background-color: #DDDDDD;
  }